.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px 15px 5px 15px;
}
.header{
    width: 100%;
    height: 65px;
}
.main-container{
    width: 100%;
}
.information{
    height: 1235px;
    padding-top: 50px;
}
.test{
    width: 100%;
    border: 1px solid blue;
}
.footer{
    width: 100%;
}
