.professional .information-txt-container .information-title{
    font-weight: 800;
    color: #ecefc5;
    line-height: 35px;
    margin-bottom: 30px;
}
.professional .information-txt-container .information-title::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 150px;
    left: 18px;
}
.perfect{
    position: relative;
    top: -200px;
}
.perfect .information-txt-container .information-title{
    font-weight: 800;
    color: #ecefc5;
    line-height: 35px;
    margin-bottom: 15px;
}

.perfect .information-txt-container .information-title::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 38px;
    left: 5px;
}
.information-txt-section .information-txt-container .information-sub-big{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}
.information-txt-section .information-txt-container .information-sub-small{
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
  
.information-txt-section .information-txt-container .information-tag{
    font-weight: 500;
    font-size: 15px;
    color: #99ccff;
    letter-spacing: -0.2px;
}
.information-txt-section .more-box{
    margin-top: 25px;
    width: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.information-txt-section .more-box a{
    color: white;
}
.information-txt-section .more-box a::after {
    content: "";
    display: inline-block;
    width: 128px;
    height: 20px;
    position: absolute;
    top: 530px;
    left: 50px;
    background-color: #d442ca;
}
.information-txt-section .information-img-box{
    width: 100%;
    height: 500px;
    position: relative;
}
.information-txt-section .information-img-box img{
    height: auto;
}
.information-txt-section .information-img-box .superman{
    z-index: 3;
    position: absolute;
    width: 100%;
}
.information-txt-section .information-img-box .blue-background-image{
    position: absolute;
    top: 50px;
    width: 500px;
}

